= form_with(model: ad, class: "contents") do |form|
  - if ad.errors.any?
    %div#error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-md.mt-3
      %h2= "#{pluralize(ad.errors.count, "error")} prohibited this ad from being saved:"

      %ul.list-disc.ml-6
        - ad.errors.each do |error|
          %li= error.full_message


  %div.my-5
    = form.hidden_field :account_id, value: current_user.account_id

  %div.my-5
    = form.label :title
    %br
    = form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ad.errors[:title].none?, "border-red-400 focus:outline-red-600": ad.errors[:title].any?}]

  %div.my-5
    = form.label :description
    %br
    = form.text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ad.errors[:description].none?, "border-red-400 focus:outline-red-600": ad.errors[:description].any?}]

  %div.my-5
    = form.label :images
    %br
    = form.file_field :images, multiple: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100"

  %div.inline
    = form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"

